html,
body
    margin 0
    padding 0
    background url(../img/body-bg.png) 0 0 no-repeat
html
    min-height 100%
    min-height 100vh

.app
    
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

    &__aside
        
        &--left
            order -1
            flex : 0 0 300px
            
        &--right
            flex : 0 0 300px
